* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #f6f6f6;
}

.App {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  max-width: 800px;
  width: 90vw;
}

.formControl {
  width: 100%;
  margin-bottom: 20px;
}

.formControl label {
  margin-bottom: 0.5rem;
  display: block;
  font-size: 20px;
  font-weight: 700;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
}

.submit {
  /* background: none; */
  /* border: none; */
  /* background-color: blue; */
}

.errorFormik {
  color: red;
}

input:focus {
  outline: none;
  border: 2px solid #6d25d9;
}

button:disabled {
  cursor: not-allowed;
  background-color: #ccc;
  color: #444;
}

a {
  text-decoration: none;
}
