.productList {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  text-align: center;
  margin-top: 50px;
  grid-gap: 2rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

.productImage img {
  width: 100%;
  height: auto;
}

.productDesc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #ede9fe;
}

.btn {
  border: none;
  cursor: pointer;
  padding: 6px 15px;
  border-radius: 5px;
}

.primary {
  background-color: #6d25d9;
  color: #ffff;
}
